<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parallax.parallax">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.parallax.shell.ParallaxKoChummiDedo"
        android:appComponentFactory="com.parallax.shell.ParallaxTGUser"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:hasCode="true"
        android:supportsRtl="true"
        android:testOnly="false">
        <profileable android:shell="false" />
    </application>
</manifest>
