<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parallax.parallax">

    <application
        android:name="com.parallax.shell.ParallaxKoChummiDedo"
        android:allowBackup="false"
        android:debuggable="false"
        android:extractNativeLibs="true"
        android:hasCode="true"
        android:profileableByShell="false"
        android:supportsRtl="true"
        android:testOnly="false" />
</manifest>
